* {
    font-family: 'Quicksand', sans-serif;
}

head {
    margin: 0;
}

body {
    margin: 0;
    background: white;
}


h1 {
    font-size: 450%;
    font-weight: bold;
    text-align: center;
    padding-top: 6%;
    padding-bottom: 3%;
    margin: 0;
    background: #242582;
    color: #F5F5F5;
}

#subtitle {
    font-size: 170%;
    text-align: center;
    padding-top: 0;
    padding-bottom: 3%;
    margin: 0;
    background: #242582;
    color: #f5f5f5ba;
}

.button {
    background: #242582;
    background-color: #242582; 
    color: white; 
    border: 5px solid #99738E;
    padding: 1.36% 2.72%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 70%;
    transition-duration: 1s;
    cursor: pointer;
}

.button:hover {
    background-color: #99738E;
    color: white;
}

h2 {
    font-weight: bold;
    font-size: 220%;
    color: #2F2F82;
    text-align: left;
    padding: 1%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 0;
}

#content {
    font-size: 150%;
    text-align: left;
    padding: 1%;
    padding-top: 0;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 0;

}

ol {
    font-size: 150%;
    text-align: left;
    padding: 0;
    margin: 0;
    margin-left: 20%;
    margin-right: 20%;
}

ul {
    font-size: 150%;
    text-align: left;
    padding: 0;
    margin: 0;
    margin-left: 20%;
    margin-right: 20%;
}

#footer {
    text-align: center;
    font-size: 150%;
    margin: 1%;
    padding: 0;
}

img {
    display: block;
    margin: auto;
    padding: 1%;
    width: 50%;
}

.wide {
    width: 80%;
}

h3 {
    font-size: 80%;
    color: #822f4c;
    text-align: left;
    padding: 1%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 0;
}